@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito+Sans&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #F3F3F3;
    margin: 0;
    padding: 0;
}

article {
    max-width: 1000px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 100px;
}

button {
    padding: 10px 20px;
    margin: 12px 0;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    transition: 0.2s;
}

.intro button {
    border: 2px solid #F0F0F0;
    color: #F0F0F0;
    text-shadow: 0px 0px 3px #536E8B;
}

.intro button:hover {
    color: #85A3C5;
    background-color: #F0F0F0;
    text-shadow: none;
}

p {
    margin: 18px 0;
    font-size: 1em;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 8px 0;
}

h3 {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 8px 0;
    font-size: 1.2em;
    color: #536E8B;
}

h1 {
    font-size: 2rem;
    color: #85A3C5;
}

h2 {
    font-size: 1.15rem;
    color: #536E8B;
}

#nav.nav {
    top: 0;
    z-index: 99;
    display: flex;
    transition: all 0.4s ease;
    align-items: center;
    padding: 25px 100px;
    position: sticky;
    height: 50px;
}

#nav.sticky-nav {
    position: sticky;
    transition: top 0.4s ease;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    background-color: #FFFFFF;
}

#nav .logo img:hover {
    content: url('assets/images/KV\ d-blue.png');
    transition: top 0.4s ease;
}

#nav.sticky-nav .logo img {
    content: url('assets/images/KV\ black.png');
    transition: top 0.4s ease;
}

#nav.sticky-nav .logo img:hover {
    content: url('assets/images/KV\ l-blue.png');
    transition: top 0.4s ease;
}

#nav .nav-items a {
    color: #FFFFFF;
}

#nav .nav-items a:hover {
    color: #536E8B;
}

#nav.sticky-nav .nav-items a {
    color: #000000;
}

#nav.sticky-nav .nav-items a:hover {
    color: #85A3C5;
}

nav .logo {
    display: flex;
    position: relative;
    float: left;
    margin: 0;
}

nav .logo img {
    height: 50px;
}

nav .nav-items {
    margin: 0;
}

nav .nav-items li {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase; 
}

nav .nav-items a {
    display: block;
    text-decoration: none;
    padding: 20px;
    font-size: 1.1em;
}

.intro {
    width: 100%;
    min-height: 100vh;
    margin-top: -100px;
    color: #F0F0F0;
    background-image: url('assets/images/cover.jpg');
    /* parallax scrolling */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

.intro .intro-text {
    text-align: left;
    position: absolute;
    float: left;
    z-index: 1;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    text-shadow: 0px 0px 6px #536E8B;
}

#subtitle, #title {
    color: #F0F0F0;
    text-transform: uppercase;
    line-height: 1;
}

#title {
    font-size: 6rem;
}

#subtitle {
    font-size: 2.5rem;
}

.intro-text p {
    font-size: 1.3em;
}

.headshot img {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 5%;
    transform: translate(-5%, 0%);
    filter: drop-shadow(0px 0px 10px #536E8B);
}

.about {
    background-color: white;
}

/* ---- EXPERIENCE | VERTICAL CAROUSEL ---- */

.experience article {
    padding-bottom: 0;
}

.experience-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#carousel, .experience-navigation {
    flex: initial;
    display: block;
}

#carousel {
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 450px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.panel-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in-out;
}

#experience_button_1:checked ~ #carousel .panel-wrapper {
    -webkit-transform: translateY(0);
    transform: translateY(0); 
}

#experience_button_2:checked ~ #carousel .panel-wrapper {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); 
}

#experience_button_3:checked ~ #carousel .panel-wrapper {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%); 
}

#experience_button_4:checked ~ #carousel .panel-wrapper {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%); 
}

#experience_button_5:checked ~ #carousel .panel-wrapper {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%); 
}

#experience_button_6:checked ~ #carousel .panel-wrapper {
    -webkit-transform: translateY(-500%);
    transform: translateY(-500%); 
}

#experience_button_7:checked ~ #carousel .panel-wrapper {
    -webkit-transform: translateY(-600%);
    transform: translateY(-600%); 
}

[class^="panel_"] {
    overflow: hidden;
    position: relative;
    width: inherit;
    height: inherit;
}

.experience-container .panel-text {
    padding: 30px;
}

.panel-text h2 {
    margin-bottom: 16px;
}

.panel-text h3 {
    color: black;
    font-size: 1.1em;
}

.panel-text p {
    margin: 0 0 30px 0;
}

.experience-navigation {
    margin-right: 40px;
}

[class^="label_"] {
    display: block;
    cursor: pointer;
    margin: 12px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    color: #A0A0A0;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

[class^="label_"]:hover {
    color: rgb(26, 26, 26);
    background-color: rgba(133, 163, 197, 0.2);
}

.experience-navigation .label_1 {
    margin-top: 0;
}

.experience-navigation .label_7 {
    margin-bottom: 0;
}

#experience_button_1:checked ~ .experience-navigation .label_1,
#experience_button_2:checked ~ .experience-navigation .label_2,
#experience_button_3:checked ~ .experience-navigation .label_3,
#experience_button_4:checked ~ .experience-navigation .label_4,
#experience_button_5:checked ~ .experience-navigation .label_5,
#experience_button_6:checked ~ .experience-navigation .label_6,
#experience_button_7:checked ~ .experience-navigation .label_7 {
    cursor: default;
    color: #fff;
    background-color: #536E8B;
}

/* ----- PROJECTS GRID ----- */

.projects .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -10px;
}

.projects-container .project {
    position: relative;
    overflow: hidden;
    background-color: white;
    width: 320px;
    height: 320px;
    margin: 10px;
    float: left;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.projects-container .project-cover {
    display: block;
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease;
    opacity: 1;
}

.project:hover .project-cover {
    transform: scale(1.15);
    opacity: 0.2;
}

.projects-container .project-overview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    background-color: rgba(255, 2555, 255, 0.3);
    transition: 0.3s ease;
    opacity: 0;
}

.project:hover .project-overview {
    opacity: 1;
}

.project-overview .summary {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.projects .project-tag {
    font-size: 0.75em;
    font-weight: normal;
    letter-spacing: 0.5px;
    text-transform: uppercase; 
    background-color: rgba(133, 163, 197, 0.8);
    color: white;
    padding: 4px 8px;
    width: fit-content;
    height: fit-content;
    border-radius: 4px;
    display: inline-block;
    margin: 2px 0;
}

.project button {
    position: absolute;
    bottom: 30px;
    font-size: 0.8em;
    padding: 8px 16px;
    margin: 12px 0 0 0;
    border: 2px solid #536E8B;
    color: #536E8B;
}

.project button:hover {
    color: #FFFFFF;
    background-color: #536E8B;
    text-shadow: none;
}

/* ---- PROJECTS MODAL OVERLAYS ---- */

.projects .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}
  
.projects .overlay .cancel {
    position: fixed;
    width: 100%;
    height: 100%;
    cursor: default;
}
  
.projects .modal {
    position: absolute;
    display: inline-flex;
    background-color: rgb(29, 34, 38);
    width: 1100px;
    height: calc(100vh - 20%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);   
}

.projects .modal .visuals {
    width: 65%;
    height: 100%;
    position: relative;
    margin: auto;
}

.projects .modal .visuals video {
    position: absolute;
    width: 100%;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

.projects .modal .visuals img {
    position: absolute;
    width: 100%;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

.projects .modal .prev, .projects .modal .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -56px;
    color: white;
    font-size: 50px;
    filter: drop-shadow(0px 0px 2px #536E8B);
}

.projects .modal .next {
    right: 0;
}

.projects .modal .text {
    width: 35%;
    padding: 30px;
    background-color: #FFFFFF;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.projects .modal .content {
    max-height: 90%;
    padding-right: 30px;
    margin-top: 20px;
    margin-right: -30px;
    overflow-y: scroll;
    position: relative;
}

.projects .modal .content p:first-child {
    margin-top: 0;
}

.projects .modal .content a {
    font-weight: bold;
    color: #536E8B;
}

.projects .modal .content ul {
    margin: 0;
}

.projects .modal .content ul li {
    margin-bottom: 4px;
}


/* --- CONTACT --- */

.contact {
    background-color: white;
}

.contact h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 8px 0;
    font-size: 1.15rem;
    color: #536E8B;
    margin-bottom: 16px;
}

.contact-container {
    display: flex;
    margin: 20px 0;
}

.contact-details {
    display: block;
    width: 100%;
    margin-right: 50px;
}

.contact-details .contact-element {
    display: flex;
    height: 60px;
    margin-bottom: 25px;
}

.contact-details .contact-element .text {
    display: block;
    height: fit-content;
    margin: auto 0;
}

.contact-details .contact-element .text h3,
.contact-details .contact-element .text p {
    margin: 0;
    padding: 0;
}

.contact-details .contact-element a {
    display: block;
    margin-right: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    color: #536E8B;
    background-color: #F3F3F3;
    transition: all 0.3s ease;
}

.contact-details .contact-element a:hover {
    background-color: rgba(133, 163, 197, 0.3);
}

.contact-details .contact-element a img {
    height: 25px;
    margin: 17.5px;
}

.contact-details .contact-image {
    display: block;
    object-fit: cover;
    object-position: center;
    bottom: 0;
    width: 100%;
    height: 350px;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
}

.contact-form {
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.10);
    padding: 40px;
    width: 100%;
}

:focus-visible {
    outline: unset;
}

.contact-form .form-element {
    margin: 6px 0 20px 0;
    display: block;
}

.contact-form .half-element {
    display: inline;
    height: fit-content;
    float: left;
    width: 47%;
    margin-right: 5%;
}

.contact-form .half-element:nth-of-type(2) {
    margin-right: 0;
    float: right;
}

.contact-form label {
    display: block;
    margin-bottom: 6px;
}

.contact-form input[type=text], .contact-form textarea {
    width: 100%;
    padding: 12px 16px;
    box-sizing: border-box;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
}

.contact-form input[type=text]:focus {
    border: 2px solid #85A3C5;
    margin: -1px;
}

.contact-form textarea {
    height: 150px;
}

.contact-form textarea:focus {
    border: 2px solid #85A3C5;
    margin: -1px -1px 1px -1px;
}

.contact-form input[type=submit] {
    padding: 10px 20px;
    margin-top: 12px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    transition: 0.2s;
    border: 2px solid #536E8B;
    color: #536E8B;
    text-shadow: 0px 0px 3px #FFFFFF;
}

.contact-form input[type=submit]:hover {
    color: #FFFFFF;
    background-color: #536E8B;
    text-shadow: none;
}

/* ----- FOOTER ----- */

footer {
    background-color: #EEEEEE;
    height: 100px;
}


/* ----- MEDIA QUERIES ----- */

@media (max-width: 1360px) {
    .intro .intro-text {
        top: 80%;
        left: 20%;
        transform: translate(-20%, -80%);
    }

    .headshot img {
        right: 3%;
        transform: translate(-3%, 0%);
    }
}

@media (max-width: 1200px) {
    .projects-container .project {
        flex: 1 1 320px;
        height: 200px;
    }
    
    .projects-container .project:last-child {
        margin-right: calc(50% + 10px);
    }

    .project button {
        display: none;
    }
}

@media (max-width: 1000px) {
    .contact-container {
        display: block;
    }

    .contact-details {
        display: flex;
        margin-bottom: 20px;
    }

    .contact-details .contact-image {
        margin-left: 7%;
        height: 315px;
    }

    .contact-form {
        width: auto;
    }
}

@media (max-width: 780px) {
    :root {
        font-size: 85%;
    }

    article {
        padding: 40px;
    }

    /* TEMPORARY - NEED TO UPDATE */
    #nav.nav {
        padding: 25px 40px;
        height: 25px;
    }

    nav .logo img {
        height: 35px;
    }

    nav .nav-items {
        display: none;
    }
    
    /* end of temp nav fix */

    .intro .intro-text {
        top: 15%;
        left: unset;
        transform: unset;
        margin: 0 40px;
    }

    #title {
        font-size: 4rem;
    }

    #subtitle {
        font-size: 1.5rem;
    }

    .intro-text p {
        font-size: 1.1em;
        margin: 6px 0 12px 0;
    }

    .headshot img {
        transform: unset;
        right: 5%;
        height: 60%;
    }

    #carousel .panel-wrapper {
        height: 450px;
    }

    .experience-navigation {
        margin-right: 0;
        margin-bottom: 20px;
        display: flex;
    }

    [class^="label_"] {
        margin: 0;
        margin-right: 10px;
    }

    .experience-navigation .label_7 {
        margin-right: 0;
    }

    .experience-container {
        display: block;
    }

    .experience-container .panel-text {
        padding: 25px;
    }

    .panel-text h2 {
        margin-bottom: 8px;
    }

    .panel-text p {
        margin-bottom: 15px;
    }

    .projects-container .project-overview {
        padding: 25px;
    }

    .projects-container .project:last-child {
        margin-right: 10px;
    }

    .contact-details {
        display: block;
        margin-bottom: 45px;
    }

    .contact-details .contact-image {
        margin-left: 0;
        height: 250px;
    }

    .contact-form {
        padding: 25px;
    }
}
